---
---
// NOTE: the two lines of `---` above are required

//////////////////////////////////////////////////
// PLACE YOUR BOOTSTRAP VARIABLE OVERRIDES HERE //
//////////////////////////////////////////////////
$navbar-inverse-bg: #234;
$body-bg: #eee;

//////////////////////////////////////////////////
// THEN INCLUDE BOOTSTRAP ////////////////////////
@import "bootswatch-scss/journal/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootswatch-scss/journal/bootswatch";
//////////////////////////////////////////////////

@import "font-awesome/scss/font-awesome";

//////////////////////////////////////////////////
// ALL CUSTOM SASS/CSS MUST GO AFTER THIS POINT //
//////////////////////////////////////////////////

// because we have a menubar
body {
    padding-top: 70px; 
}

header div.well {
    padding: 5em;
    h1 {
        font-size: 5em;
    }
}

body > footer {
    margin-top: 2em;
    background-color: #234;
    color: #eee;
    text-align: right;
    padding: 1.4em;
}